table.dataTable thead {
  background: #eee;
}

table.dataTable thead th,
  table.dataTable thead td {
  padding: 10px 0px;
  border-top: 0px;
  font-size: 14px;
}

table.dataTable tbody th,
  table.dataTable tbody td {
  font-size: 14px;
  line-height: 1em;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc {
  background-image: none;
  position: relative;
  padding-right: 15px;
}

table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc:after {
  position: absolute;
  font-family: 'FontAwesome';
  color: #262B33;
  margin: 0px 7px;
  font-size: 1.25em;
}

table.dataTable thead .sorting_desc:after {
  content: '\f0dd';
  top: 0;
}

table.dataTable thead .sorting_asc:after {
  content: '\f0de';
}

.dataTables_scrollBody > table.dataTable thead .sorting_desc:after,
  .dataTables_scrollBody > table.dataTable thead .sorting_asc:after {
  display: none;
}

table.dataTable.order-column tbody tr > .sorting_1 {
  background-color: inherit;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current,
  .dataTables_wrapper .dataTables_paginate a.paginate_button {
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #fff;
  font-size: 14px;
  margin: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
  .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  background: #e9ecef;
  color: #262B33 !important;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.dataTables_wrapper .bottom {
  padding: 0;
  display: flex;
  align-items: center;
}

.dataTables_wrapper .bottom .page-counter {
  display: flex;
  margin: 6px 0;
}

.dataTables_info_custom {
  order: 2;
  padding-left: 20px;
}

.dataTables_wrapper .dataTables_paginate {
  order: 3;
  margin-left: auto;
}

.dataTables_wrapper .bottom .page-counter p {
  margin: 5px 0;
}

.dataTables_wrapper .bottom .page-counter > div {
  margin: auto 15px;
}

.dataTables_filter {
  padding-left: 10px;
}

input.search-field {
  width: 250px;
}

.paginate_button {
  background-color: #fff;
}

.search-field:focus {
  outline: none;
}

.colored_column {
  background-color: #19A4B0;
  color: white !important;
}

.green_column {
  background-color: #1CD0AD;
  color: white !important;
}

.dataTables_filter,
.buybay-table_filter {
  height: 32px;
  display: flex;
  align-items: center;
}

.buybay-table_filter {
  font-size: 30px;
  display: flex;
  align-items: baseline;
  background: #EEEEEE;
}

.buybay-table_length {
  font-family: 'HelveticaNeue-Light-Condensed', 'HelveticaNeue';
  color: #31454D;
}

.buybay-table_paginate {
  font-family: 'HelveticaNeue-Light-Condensed', 'HelveticaNeue';
  color: #31454D;
}

[class="search-field"] {
  height: 100%;
}

.buybay-search-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 10px;

  .buybay-table-dropdown-filter {
    &:hover {
      cursor: pointer;
    }
  }

  +.dataTables_processing {
    margin-top: 60px;
  }
}

.buybay-table td {
  color: #31454D;
}

.buybay-table-title {
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
}

.bottom {
  margin-top: 15px;
}

.entries-box {
  margin-left: 10px;
  margin-right: 10px;
}

.search-field {
  font-family: "Helvetica Neue", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  background-color: #e9ecef;
  border: 0px;

  &::placeholder {
    color: #CCCCCC;
  }
  &::-webkit-input-placeholder {
    color: #CCCCCC;
  }
  &::-moz-placeholder {
    color: #CCCCCC;
  }
  &:-ms-input-placeholder {
    color: #CCCCCC;
  }
  &:-moz-placeholder {
    color: #CCCCCC;
  }
}

.buybay-table-dropdown {
  display: flex;
  align-items: center;
  margin-left: auto;
}

// text wrapping enabling
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  text-overflow: inherit;
  white-space: inherit;
}

// Datatable Filters
#buybay-table_filter,
.dataTables_filter {
  background-color: #e9ecef;

  label {
    margin-bottom: 0;

    input { width: 100% }
  }
}

.dataTables_filter {
  margin-right: 15px;
  padding-right: 40px;

  label { margin-bottom: 0 }
}

.top.buybay-search-box > div.buybay-table-dropdown > span:first-of-type {
  margin-right: 10px;
}

.top.buybay-search-box > div.buybay-table-dropdown > span:last-of-type {
  flex: 3;
}

div.input-group input {
  border-radius: 0;
}

.buybay-table-dropdown p {
  color: #262B33;
  margin-right: 15px;
  margin-bottom: 0;
}

.a-grade{
  background-color: #BDE6EA;
}

.b-grade{
  background-color: #95CDD3;
}

.c-grade{
  background-color:#0EA5B2;
}

.c--grade{
  background-color:#17767E;
}

.buybay-table-dropdown-grey {
  color: #262B33 !important;
  border: none !important;
  border-radius: 0px !important;
  background-color: #e9ecef !important;
}

.buybay-table-pagination-grey-background {
  background-color: #e9ecef !important;
}

.buybay-table-filter-box {
  width: 100%;
}

.table {
  width: 100% !important;
}

.selection > span > ul > li.select2-selection__choice {
  font-size: small;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-right: 0;
}

.select2-container--default .select2-search--inline .select2-search__field {
  font-size: 14px;
}

html.fontawesome-i2svg-active.fontawesome-i2svg-complete body.bg-main.xl span.select2-container.select2-container--default.select2-container--open span.select2-dropdown.select2-dropdown--below span.select2-results{
  font-size: 14px;
}

div.buybay-table-dropdown span.select2.select2-container.select2-container--default {
  line-height: 1.4;
}

.buybay-table-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**** Table styles ****/
table.dataTable.no-footer,
table.dataTable thead th,
table.inline-table-reference tbody td,
.table-wrap tbody td {
  border-bottom: 0;
}

table.dataTable thead th {
  padding: 10px 5px;
  vertical-align: middle;
}

table.inline-table-reference tbody tr td,
.table-wrap tbody td {
  border-top: 1px solid #dee2e6;
  border-bottom: 0;
}

table.inline-table-reference tbody tr td,
table.inline-table-reference thead tr th {
  padding-right: 5px;
  padding-left: 5px;
}

table.inline-table-reference tbody tr:last-child td,
.table-wrap tbody tr:last-child td {
  border-bottom: 1px solid #dee2e6;
}

table.table-wrap thead {
  background-color: transparent;
}

table.dataTable tbody {
  tr {
    cursor: pointer;
  }

  th,
  td {
    padding: 10px 5px;
  }

  td.text-hightlight-t2 {
    font-size: 16px;
  }
}

table.dataTable thead {
  th {
    line-height: 1.2
  }

  .sorting_desc,
  .sorting_asc {
    &::after {
      color: #19A4B0;
      top: 50%;
      transform: translateY(-100%);
      height: 10px;
      margin: 0px 5px;
    }
  }
}
