/* ...
*= require buybayux/bootstrap
*= require font-awesome
*= require buybayux/fa-svg-with-js
*= require buybayux/glyphicons-filetypes
*= require buybayux/glyphicons-halflings
*= require buybayux/glyphicons-social
*= require buybayux/glyphicons
*= require buybayux/buttons
*= require buybayux/inscriptions
*= require buybayux/sidebar
*= require buybayux/messagebar
*= require buybayux/datatables
*= require buybayux/select2.min
*= require buybayux/buybay-datatables
*= require buybayux/form-filter
*= require buybayux/statusbar
*= require buybayux/fileinput.min
*= require buybayux/datepicker_default
*= require buybayux/datepicker_default.date
*= require buybayux/buybay-modal
*= require buybayux/bootstrap_overwrites
*= require buybayux/buttons.dataTables
*= require buybayux/select2-customization
*= require buybayux/bootstrap-switches
*= require buybayux/popover-customization
*= require buybayux/datepicker-customization
*= require buybayux/rowReorder.bootstrap4.min
*= require_self
*/

@font-face {
    font-family: 'hnueu67mediumcondensed';
    src: url(font-path('buybayux/HelveticaNeueLTStd-MdCn.otf')) format("opentype");
}

@font-face {
    font-family: 'hnueulightcondensed';
    src: url(font-path('buybayux/Helvetica-Condensed-Light.otf')) format("opentype");
}

@font-face {
    font-family: 'hnueuboldcondensed';
    src: url(font-path('buybayux/HelveticaNeueLTStd-BdCn.otf')) format("opentype");
}

html,body {
  height: 100%;
  font-family: "Helvetica Neue", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#minimizediv {
    position: fixed;
    bottom: 0px;
    color: white;
    height: 14px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Helvetica';
}

.bg-lefttop {
    background-color: #203E46;
    min-height:60px !important;
}

.bg-righttop {
  background-color: white;
  min-height:60px !important;
}

.bg-sidebar {
    background-color: #262B33;
}

.bg-leftbottom {
    background-color: #31454D;
}

.bg-main {
    background-color: #EEEEEE;
}

.bbcyan {
    color: #0EA5B2;
}

.submenubg {
    background-color: #32454c;
}
.selectedmainmenubg {
    background-color: #70C8CF;
        font-weight: bold;

}

.hneue {
    font-family: 'hnueu67mediumcondensed', 'HelveticaNeue';
    font-size: 18px;
}

#myNavToggleButtonFull,#myNavToggleButtonShort {
    color: white;
}

#myNavToggleButtonFull svg,#myNavToggleButtonShort svg {
    color: #70C8CF;
}


.menusub {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Helvetica'
}

.smallermenu {
    color: #EEEEEE;
    font-size: 11px;
    font-family: 'Helvetica'
}


.white {
    color: #FFFFFF;
}

.redborder {
    border: 1px solid red;
}

.list-group.special {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.list-group-item
{
    margin: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.special .btn {
  flex: 1
}


@media (max-width: 960px) {
  .hidesmall {
    display: none;
  }
  .submenubg {
    background-color: #32454c;
  }

}

@media (min-width: 960px) {
    [data-toggle="collapse"]:after {
        display: inline-block;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0de";
        transform: rotate(0deg) ;
        transition: all linear 0.35s;
        float: right;
        color: #B7E4E8;
    }
    [data-toggle="collapse"].collapsed:after {
        transform: rotate(-180deg) ;
        color: #0EA5B2;
    }
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: middle;
    width: 100%;
}

.buybaybg {
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #272B33 0%, #272B33 84%, #22434C 84.2%, #22434C 85.7%, #272B33 85.7%, #272B33 87.20%, #1F6871 87.20%, #1F6871 90.15%, #272B33 90.15%, #272B33 91.62%, #20A5B1 91.62%, #20A5B1 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #272B33 0%, #272B33 84%, #22434C 84.2%, #22434C 85.7%, #272B33 85.7%, #272B33 87.20%, #1F6871 87.20%, #1F6871 90.15%, #272B33 90.15%, #272B33 91.62%, #20A5B1 91.62%, #20A5B1 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #272B33 0%, #272B33 84%, #22434C 84.2%, #22434C 85.7%, #272B33 85.7%, #272B33 87.20%, #1F6871 87.20%, #1F6871 90.15%, #272B33 90.15%, #272B33 91.62%, #20A5B1 91.62%, #20A5B1 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #272B33), color-stop(84, #272B33), color-stop(84.2, #22434C), color-stop(85.7, #22434C), color-stop(85.7, #272B33), color-stop(87.20, #272B33), color-stop(87.20, #1F6871), color-stop(90.15, #1F6871), color-stop(90.15, #272B33), color-stop(91.62, #272B33), color-stop(91.62, #20A5B1), color-stop(100, #20A5B1));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #272B33 0%, #272B33 84%, #22434C 84.2%, #22434C 85.7%, #272B33 85.7%, #272B33 87.20%, #1F6871 87.20%, #1F6871 90.15%, #272B33 90.15%, #272B33 91.62%, #20A5B1 91.62%, #20A5B1 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #272B33 0%, #272B33 84%, #22434C 84.2%, #22434C 85.7%, #272B33 85.7%, #272B33 87.20%, #1F6871 87.20%, #1F6871 90.15%, #272B33 90.15%, #272B33 91.62%, #20A5B1 91.62%, #20A5B1 100%);
}

/* input field placeholder colors */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #262B33;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #262B33;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #262B33;
}
