.buybay-modal {
  position: relative;
  font-family: 'HelveticaNeue';

  .close {
    font-size: 44px;
    color: #EEEEEE;
    font-weight: normal;
    opacity: 1;
    text-shadow: none;
    margin: 15px;
  }

  .modal-content {
    border-radius: 0;
    padding: 56px 115px 106px;
    text-align: center;
  }

  .modal-header {
    justify-content: center;
    border: none;
    font-size: 76px;
    font-family: 'hnueu67mediumcondensed';
    display: block;
  }

  .modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    max-width: 80%;

    @media(max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }

  .modal-success {
    border-left: 15px solid #1CD0AD;

    .modal-header {
      color: #1CD0AD;
    }
  }
}

.modal-backdrop {
  background-color: #262B33;
}

.half-modal.show {
  opacity: 0.9;
  margin: 0 -15px;
  position: absolute;
}

#main > .p-2 {
  position: relative;
}
