.form-filter {
  background-color: white;
  padding: 22px 21px 14px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.form-filter .input-group > input, .form-filter .input-group > span {
  background: #eee;
}

.form-filter .form-group {
  margin-bottom: initial;
  display: flex;
}

.form-filter .form-group > div {
  margin: 2px 10px;
}

.form-filter .select2-container--default .selection .select2-selection--single {
  background-color: #eee;
  height: 35px;
}

.form-filter .select2-container--default .selection .select2-selection--single .select2-selection__rendered {
  line-height: 35px;
}

.form-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}

.select2-container--default .selection .select2-selection--single {
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 14px;
}

.select2-container--default .selection .select2-selection--single .select2-selection__rendered {
  color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #262B33;
}