.messagebar-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* Stay on top */
}

.messagebar-short {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 2; /* Stay on top */
}

.inner-messagebar {
  margin: 0 auto;
}
