.popover {
  border-radius: 0;
  border: 2px solid #BDE6EA;

  .arrow::before {
    border-bottom-color: #a3d3d8;
  }
}

.popover-body {
  padding-left: 0;
  padding-right: 0;
}

.buybay-table-toggle-vis {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .2rem .7rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  span {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #0EA5B2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

    svg {
      font-size: 10px;
      color: #fff;
    }
  }

  &.unselect span {
    background-color: #BDE6EA;

    svg {
      opacity: 0;
    }
  }

  &:hover {
    background-color: rgba(0,0,0,.1);
  }
}
