 /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow: visible;
  transition: 0s; /* 0.3 second transition effect to slide in the sidenav */
}

.sidenav-header {
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
}

.sidenav-menu {
  padding-top: 40px;
}
.redborder {
  border: 1px solid red;
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  transition: 0s;
  color: #FFFFFF;
}

.sidenav a:hover {
  color: #6DC8D0;
}

.sidenav a.selectedmainmenubg:hover {
  color: #FFFFFF;
}

a.sidenav-links:hover {
  background-color: #6DC8D0;
  color: #FFF;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0s;
  padding: 10px;
  min-width: 900px;
}

.btn-collapse-full {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-collapse-short {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}


.dd-menu-center {
  text-align: center;
}



.dropright > a:hover {
  background-color: #6DC8D0;
  color: #FFF;
}

.dropright > .dropdown-menu {
  padding-left: 0;
  margin-left: 0;
  border: 1;
  border-color: #31454D;
}

.dropright > .dropdown-menu > a:hover {
  background-color: #6DC8D0;
  color: #FFF;
}

.dropright > .dropdown-divider {
  background-color: #31454D;
}

.logo_subtitle {
  color: #FD6921;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 8px;
  margin-top: -8px;
}

#mySideNav {
	width: 250px;
}
#main {
	margin-left: 250px;

  #messagebar {
    margin-left: 250px;
  }
}

#buybay_full_logo_column {
	display: flex;
}
#buybay_palm_only_logo_column {
	display: none;
}

#buybay_full_menu {
	display: block;
}

#buybay_short_menu {
	display: none;
}

.menu_production {
  background-color: #262B33;
}

.menu_demo {
 background-color: #70C8CF;
}

.menu_staging {
 background-color: #FD6921;
}

.menu_development {
 background-color: #000000;
}
