.statusbar {
  background: #0EA5B2;
  min-height: 160px;
  padding: 54px 5% 0;
  font-size: 12px;
  color: #fff;
  position: relative;
  width: 100%;
}

.statusbar > .state {
  margin-bottom: auto;
  text-align: center;
}

.statusbar > .state > .rounded-circle {
  width: 42px;
  height: 42px;
  margin: 0 auto 16px;
  display: block;
  text-align: center;
  font-size: 21px;
  background-color: #31454D;
  color: #0EA5B2;
  padding: 6px;
  position: relative;
  z-index: 1;
}

.statusbar > .state {
  position: relative;
  flex: 1;
}

.statusbar > .state:first-child:after {
  display: none;
}

.statusbar > .state::after {
  border-top: 5px solid #31454D;
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  width: 100%;
}

.statusbar > .state::after {
  right: 50%;
}


.statusbar > .state:first-child > .rounded-circle::before,
  .statusbar > .state:last-of-type > .rounded-circle::after {
  content: none;
}

.statusbar > .state-completed > .rounded-circle,
.statusbar > .state-active > .rounded-circle {
  background-color: #FFF;
}

.statusbar > .state-completed::after,
.statusbar > .state-active::after {
  border-color: #FFF;
}

.statusbar > .state-failed > .rounded-circle {
  background-color: #FF4040;
  color: #FFF;
}

.statusbar-tooltip > .tooltip-inner {
  background-color: #FF4040;
  line-height: 1em;
  font-size: 12px;
}
.statusbar-tooltip .arrow::before {
  border-top-color: #FF4040;
}



