<svg
  width="<%= width %>"
  height="<%= height %>"
  viewBox="0 0 2109 <% if include_letters == false && include_palm_tree == true %>1629<% else %>329<% end %>"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xml:space="preserve"
  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"
  id="<%= id %>">
  <g opacity=<%= opacity %>>
    <% if include_palm_tree == true %>
      <g <% if include_letters == false %>transform="scale(4.4),translate(-1628.48,0)"<% end %> id="palmgroup_<%= id %>">
        <rect id="palmpath1_<%= id %>" x="1667.48" y="312.148" width="39.853" height="11.417"  style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;" stroke="<%= color %>" stroke-width="1"/>
        <rect id="palmpath2_<%= id %>" x="1634.38" y="312.148" width="18.805" height="11.417"  style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;" stroke="<%= color %>" stroke-width="1" />
        <path id="palmpath3_<%= id %>" d="M1880.86,312.148l-146.883,0c10.265,-18.069 67.721,-36.081 146.881,-36.081l0.002,0l0,36.081Zm-25.566,-277.622c5.517,-13.887 12.173,-20.927 19.788,-21.092l3.826,129.828c-0.04,0.152 -0.084,0.317 -0.124,0.468c-13.556,-41.092 -28.64,-96.242 -23.49,-109.204l0,0Zm-22.196,45.507l-22.856,-15.045l-2.909,27.618l-51.004,25.552c19.333,-58.833 69.74,-65.276 87.008,-67.49c0.075,-0.01 0.124,-0.018 0.197,-0.028c0.742,7.631 2.34,16.522 4.374,25.853l-14.81,3.54l0,0Zm206.859,232.115c-8.552,-30.895 -85.955,-47.5 -159.099,-47.5c-6.294,0 -12.611,0.168 -18.923,0.412c-19.367,-65.568 -9.94,-122.336 -3.456,-148.028c6.859,23.25 13.765,43.071 15.415,47.732l5.858,16.56l5.003,-16.839c1.952,-6.564 12.478,-42.584 19.108,-76.513l21.175,3.955l9.055,-6.649l2.038,13l85.483,37.483l-4.401,-15.529c-14.662,-51.869 -50.369,-80.314 -106.123,-84.555c-1.071,-0.083 -1.592,-0.151 -2.341,-0.217c-0.373,-2.614 -0.882,-4.978 -1.696,-6.755c-4.203,-9.169 -13.539,-24.808 -28.891,-26.595c-9.644,-1.154 -23.415,2.827 -33.486,28.193c-0.896,2.253 -1.285,5.361 -1.45,8.832c-0.524,0.066 -0.713,0.118 -1.341,0.197c-20.344,2.605 -82.266,10.526 -100.051,88.413l-2.698,11.799l78.909,-39.518l1.59,-15.176l11.308,7.439l19.543,-4.654c0.719,2.917 1.479,5.844 2.248,8.773l-0.599,1.861l1.192,0.447c0,0.003 0,0.005 0.002,0.008l-1.194,-0.455c-1.192,3.116 -28.038,75.779 -1.9,167.361c-67.151,4.216 -129.324,22.207 -129.324,52.226l0,5.709l387.653,0l0,-11.417l-68.607,0l0,0Z" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;" stroke="<%= color %>" stroke-width="1"  />
      </g>
    <% end %>
    <% if include_letters == true %>
      <path d="M167.644,227.977c0,-30.408 -23.007,-42.846 -53.415,-42.846l-58.95,0l0,85.677l58.95,0c30.408,0 53.415,-12.442 53.415,-42.831Zm-64.934,-95.342c30.856,0 48.364,-11.504 48.364,-39.596c0,-28.107 -21.172,-39.61 -48.364,-39.61l-47.431,0l0,79.206l47.431,0Zm-102.71,-131.718l104.544,0c52.511,0 102.711,24.424 102.711,92.122c0,39.148 -29.027,58.015 -33.626,59.401c4.599,0.919 50.195,17.504 50.195,75.537c0,56.647 -46.978,95.327 -107.761,95.327l-116.063,0l0,-322.387l0,0Z" stroke="<%= color %>" stroke-width="1" fill="<%= color %>" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;"/>
      <path d="M444.491,0.917l55.284,0l0,205.405c0,70.935 -48.364,122.516 -124.369,122.516c-75.969,0 -124.333,-51.581 -124.333,-122.516l0,-205.405l55.249,0c0,0 0,92.122 0,198.505c0,46.043 23.041,76.9 69.084,76.9c45.596,0 69.085,-30.857 69.085,-76.9c0,-106.383 0,-198.505 0,-198.505l0,0Z" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;"stroke="<%= color %>" stroke-width="1" fill="<%= color %>"/>
      <path d="M686.169,323.304l-55.285,0l0,-127.103l-110.047,-195.284l60.787,0l78.738,144.155l78.77,-144.155l57.118,0l-110.081,195.284l0,127.103Z" stroke="<%= color %>" stroke-width="1" fill="<%= color %>" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;"/>
      <path d="M1141.66,115.199c4.633,-37.781 27.59,-62.253 68.109,-62.253c40.924,0 63.57,24.472 68.127,62.253l55.531,0c-3.517,-66.833 -50.579,-114.814 -123.658,-114.814c-73.111,0 -120.173,47.981 -123.689,114.814l55.58,0Z" stroke="<%= color %>" stroke-width="1" fill="<%= color %>" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;"/>
      <path d="M1000.26,227.064c0,-30.413 -23.041,-42.851 -53.449,-42.851l-58.95,0l0,85.677l58.95,0c30.408,0 53.449,-12.437 53.449,-42.826l0,0Zm-64.934,-95.347c30.856,0 48.326,-11.499 48.326,-39.595c0,-28.107 -21.169,-39.607 -48.326,-39.607l-47.465,0l0,79.202l47.465,0Zm-102.71,-131.717l104.544,0c52.477,0 102.711,24.423 102.711,92.122c0,39.147 -29.027,58.018 -33.626,59.4c4.599,0.915 50.195,17.504 50.195,75.542c0,56.646 -46.978,95.322 -107.761,95.322l-116.063,0l0,-322.386l0,0Z" stroke="<%= color %>" stroke-width="1" fill="<%= color %>" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;"/>
      <path d="M1518.79,322.39l-55.285,0l0,-127.102l-110.047,-195.284l60.787,0l78.738,144.155l78.77,-144.155l57.118,0l-110.081,195.284l0,127.102Z" stroke="<%= color %>" stroke-width="1" fill="<%= color %>" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;fill-rule:nonzero;"/>
      <rect x="1086.09" y="295.472" width="55.284" height="26.915" stroke="<%= color %>" stroke-width="1" fill="<%= color %>"  style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;"/>
      <rect x="1278.18" y="295.472" width="55.249" height="26.915" stroke="<%= color %>" stroke-width="1" fill="<%= color %>"  style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;"/>
      <rect x="1086.09" y="223.393" width="90.71" height="31.939" stroke="<%= color %>" stroke-width="1" fill="<%= color %>"  style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;"/>
      <rect x="1278.18" y="223.393" width="55.249" height="31.939" stroke="<%= color %>" stroke-width="1" fill="<%= color %>"  style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;"/>
      <rect x="1086.09" y="143.515" width="161.56" height="41.062" stroke="<%= color %>" stroke-width="1" fill="<%= color %>" style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;"/>
      <rect x="1278.18" y="143.515" width="55.249" height="41.062" stroke="<%= color %>" stroke-width="1" fill="<%= color %>"  style="fill-opacity:<%= fillopacity %>;fill:<%= color %>;"/>
    <% end %>
  </g>
</svg>
