<div class="row bg-righttop">
  <div class="col-md-10 align-self-center bbcyan hneue">
    <% if content_for?(:header_account) %>
      <%= yield(:header_account) %>
    <% else %>
      Welcome
    <% end %>
  </div>

  <% if content_for?(:header_details) %>
    <div class="col-md-2 align-self-center bbcyan hneue">
      <%= yield(:header_details) %>
    </div>
  <% else %>
    <div class="col-md-2 align-self-center">
      <i class="fas fa-chart-bar"></i>
      &nbsp;
      <i class="fas fa-bell"></i>
      &nbsp;
      <i class="fas fa-tachometer-alt"></i>
    </div>
  <% end %>
</div>
