<% if menu %>
  <input type="hidden" name="check_side_menu_exists" id="check_side_menu_exists" value="true">
  <div id="messagebar" class="<%= Buybayux.configuration.current_user ? 'messagebar-short' : 'messagebar-full' %>">
<% else %>
  <input type="hidden" name="check_side_menu_exists" id="check_side_menu_exists" value="false">
  <div id="messagebar" class="messagebar-full">
<% end %>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div style="padding: 5px;">
          <div class="inner-messagebar alert alert-dismissible <%= name.to_s == 'notice' || name.to_s == 'success' ? 'alert-success' : name.to_s == 'warning' ? 'alert-warning' : 'alert-danger' %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div><%= msg %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
