<div id="mySideNav" class="sidenav bg-sidebar">

  <div id="buybay_full_logo_column" class="sidenav-header justify-content-center bg-lefttop">
    <%= link_to buybay_logo(width:128,height:32,logo_color:"#0EA5B2"), welcome_path %>
    <% if Buybayux.configuration.beta_version %>
      <span class='logo_subtitle'>beta</span>
    <% end %>
  </div>

  <div id="buybay_palm_only_logo_column" class="sidenav-header justify-content-center bg-lefttop">
    <%= link_to buybay_logo(width:128,height:32,logo_color:"#0EA5B2",include_letters:false), welcome_path %>
  </div>

  <div id="buybay_full_menu" class="sidenav-menu">
    <%= sidebar_full %>
    <a id="myNavToggleButtonFull" class="bg-leftbottom btn-collapse-full"><i class="fa fa-bars"></i>&nbsp;Collapse</a>
  </div>

  <div id="buybay_short_menu" class="sidenav-menu dd-menu-center">
    <%= sidebar_short %>
    <a id="myNavToggleButtonShort" class="bg-leftbottom btn-collapse-short"><i class="fa fa-bars"></i></a>
  </div>

</div>
