<!-- sidebar -->
<%= render partial: '/layouts/sidebar' %>
<!-- /sidebar -->

<!-- main right col -->
<div id="main" class="p-0">
    <%= render partial: '/layouts/messages', locals: { menu: true } %>

    <%= render partial: '/layouts/header' %>

    <div class="p-2">
      <%= yield %>
    </div>
</div>
<!-- /main -->
