<!-- Running method to set up all stored content (user name etc) -->
<!-- method should exist in application_helper.rb -->
<% stored_content %>

<!DOCTYPE html>
<html <%= yield("htmltag") %>>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BuyBay Flux" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "BuyBay Flux dashboard" %>">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href='<%= image_path "/buybayux/apple-touch-icon-57x57.png" %>' />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href='<%= image_path "/buybayux/apple-touch-icon-114x114.png" %>' />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href='<%= image_path "/buybayux/apple-touch-icon-72x72.png" %>' />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href='<%= image_path "/buybayux/apple-touch-icon-144x144.png" %>' />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href='<%= image_path "/buybayux/apple-touch-icon-60x60.png" %>' />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href='<%= image_path "/buybayux/apple-touch-icon-120x120.png" %>' />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href='<%= image_path "/buybayux/apple-touch-icon-76x76.png" %>' />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href='<%= image_path "/buybayux/apple-touch-icon-152x152.png" %>' />
    <link rel="icon" type="image/png" href='<%= asset_path "/assets/buybayux/favicon-196x196.png" %>' sizes="196x196" />
    <link rel="icon" type="image/png" href='<%= asset_path "/assets/buybayux/favicon-96x96.png" %>' sizes="96x96" />
    <link rel="icon" type="image/png" href='<%= asset_path "/assets/buybayux/favicon-32x32.png" %>' sizes="32x32" />
    <link rel="icon" type="image/png" href='<%= asset_path "/assets/buybayux/favicon-16x16.png" %>' sizes="16x16" />
    <link rel="icon" type="image/png" href='<%= asset_path "/assets/buybayux/favicon-128.png" %>' sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content='<%= image_path "/buybayux/mstile-144x144.png" %>' />
    <meta name="msapplication-square70x70logo" content='<%= image_path "/buybayux/mstile-70x70.png" %>' />
    <meta name="msapplication-square150x150logo" content='<%= image_path "/buybayux/mstile-150x150.png" %>' />
    <meta name="msapplication-wide310x150logo" content='<%= image_path "/buybayux/mstile-310x150.png" %>' />
    <meta name="msapplication-square310x310logo" content='<%= image_path "/buybayux/mstile-310x310.png" %>' />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
        <%= yield("javascript") %>
        $(document).ready(function() {
            <%= yield("javascript_when_ready") %>
        });
    </script>
  </head>

  <body <%= yield("bodytag") %>>

    <div class="container-fluid h-100">
      <div id="nomenu_main" class="p-0 h-100">

        <%= render partial: '/layouts/messages', locals: { menu: false } %>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
